.unity-toggle {
    margin: 0;
}
.unity-toggle Label {
    margin-left: 3px;
}
.unity-toggle .unity-toggle__checkmark {
    margin-top: 2px;
}
.unity-slider > .unity-label{
    margin-left: 2px;
    margin-right: 0;
}
